<%- include('partials/header'); -%>


<h1>Contact</h1>
<p><%= contactContent %></p>
<p>GMail: gauravgupta1272@gmail.com</p>
<p>Github: gauravgupta1272</p>
<p>Instagram: gaurav.gupta__</p>





<%- include('partials/footer'); -%>